* {
    /* don't use '0px' or any other unit, if you set the value to zero */
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(0, 0, 0);
    background-color: wheat;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "maintheme";
    src: url(fonts/Mohave-Italic-VariableFont_wght.ttf);
}

body {
    background-color: rgba(253, 253, 253, 0);
}

.maindiv {
    position: relative;
}

.sitelogo {
    width: 50px;
    object-fit: cover;
    max-width: 100%;
}

.navbardiv {
    position: absolute;
    top: 0;
    z-index: 5;
}

.navlinks {
    color: white;
    font-family: "maintheme";
    background: none;
}

.navlinksdiv:hover .navlinks {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.navlinksdiv:hover {
    border-bottom: white 1px solid;
}

.bag2:hover {
    transform: scale(2);
}

@font-face {
    font-family: 'Vermin';
    src: url(fonts/Bank\ Sans\ EF\ CY/Bank\ Sans\ EF\ CY\ Regular.otf);
}

.sampleheading {
    font-family: 'Vermin';
    font-size: 1.5rem;
}

.HRTAG {
    border: 0.03rem solid rgb(255, 255, 255);
}

.selectTAG {
    background-color: black;
    color: white;
    border: 0.02rem solid rgb(255, 255, 255);
}

.thecontentdiv {
    font-family: 'Vermin';
}

.beatpackdiv {
    background-color: rgb(17, 17, 17);
}

.beatPACKIMAGE {
    width: 300px;
    max-width: 100%;
    object-fit: contain;
}

.beatPACKIMAGE:hover {
    animation-name: rotateBeatPackImage;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes rotateBeatPackImage {
    to {
        transform: rotate3d(0);
    }
    from {
        transform: rotate3d(1, 5, 1, 360deg);
    }
}

.cartBTN {
    background-color: rgba(255, 255, 0, 0.664);
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 0.035rem;
}

.buyBTN {
    background-color: rgba(177, 13, 13, 0.507);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 0.035rem;
}

.buyBTN:hover {
    background-color: rgb(177, 13, 13);
}

.cartBTN:hover {
    background-color: rgb(255, 255, 0);
}

.sampleName {
    cursor: pointer;
    color: white;
}

.sampleName:hover {
    font-weight: bolder;
}