body{
    background-color: black;
    color: white;
}
.blackBlack {
    background-color: black;

}
.logInButton{
    background-color: rgb(56, 56, 56);
    color: white;
    font-weight: bold;

    border: solid black 1px;
    transition: background-color 0.2s linear,color 0.2s linear,font-weight 0.2s linear;
}
.logInButton:hover{
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.inputFieldsLogin{
    border: white;
}